.zaglavlje {
  background-color: #128174;
  color: #fff;
  padding: 10px 0;
  text-align: center;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}
p {
  margin: 100px;
  text-align: justify;
}